[submodule "public_html/profiles/os2web"]
	path = public_html/profiles/os2web
	url = git@github.com:bellcom/os2web_profile.git

[submodule "public_html/sites/faxekommune.dk"]
	path = public_html/sites/faxekommune.dk
	url = git@github.com:bellcom/faxe.web.git
